@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

h1 {
  margin-left: 100px;
  color: #4b4b4b;
}

body {
    background: white;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 70px 0;
  }

  .chatbar {
    background: #ddf5cc;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
  }

  .chatbar-message,
  .chatbar-username {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
  }

  .chatbar-message {
    flex: 8;
  }

  .chatbar-username {
    flex: 2;
  }

  .message {
    display: flex;
    padding: 5px 5px 5px 40px;
  }

  .message.system {
    font-style: italic;
    padding: 5px 20px 5px 40px;
  }

  .message-content,
  .message-username {
    overflow: hidden;
    margin: 5px;
    padding: 0 10px;
  }

  .message-content {
    flex: 8;
  }

  .message-username {
    flex: 2;
    font-weight: 700;
  }

  .message img {
  max-width: 60%;
  }

  .navbar {
    background: #ddf5cc;
    height: 60px;
    left: 0;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    color: #4b4b4b;
  }

  .navbar-brand {
    color: inherit;
    display: block;
    float: left;
    font-weight: 700;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
  }

  .navbar p {
    float: right;
    font-size: 1em;
    font-weight: 700;
    margin-right: 25px;
  }

  .navbar img {
    height: 60px;
    width: 60px;
  }

